## Code links

foundry

dnd5e


## Packs

packs/**/*.log
packs/**/*.old
packs/**/*.ldb
packs/**/LOCK
packs/**/MANIFEST
packs/**/CURRENT
packs/**/LOG
packs/**/MANIFEST-*
*.lock
src/packs-origin/**

## Build artifacts

tools/__pycache__
node_modules/
*.map
public/**
