<label><a class='prestige-roll'>
    {{localize 'a5e-for-dnd5e.Prestige.label'}}
  </a></label>
<div class='prestige'>
  <input
    type='number'
    value='{{prestige.rating}}'
    name='flags.a5e-for-dnd5e.prestige.0.rating'
    placeholder='1'
    data-dtype='Number'
  />
  <input
    type='text'
    value='{{prestige.center}}'
    name='flags.a5e-for-dnd5e.prestige.0.center'
    placeholder='{{localize "a5e-for-dnd5e.Prestige.center"}}'
    data-dtype='String'
  />
</div>