<div class='form-group input-select'>
  <label>{{localize 'a5e-for-dnd5e.Spell.Rare'}}</label>
  <input
    type='checkbox'
    name='flags.a5e-for-dnd5e.rareSpell'
    {{#unless editable}}disabled{{/unless}}
    {{checked rare}}
  />
</div>