<div class='secondary-schools form-group stacked'>
  <div class='form-group'>
    <label>{{localize 'a5e-for-dnd5e.Spell.Secondary.label'}}</label>
  </div>
  <multi-select name='flags.a5e-for-dnd5e.secondarySchools'>
    {{selectOptions
      secondarySchools
      selected=secondarySelected
      sort=true
      nameAttr='value'
      labelAttr='label'
    }}
  </multi-select>
</div>