<div class='spell-components form-group stacked'>
  <label>{{localize 'a5e-for-dnd5e.Spell.Secondary.label'}}</label>
  {{#each secondarySchools}}
    <label class='checkbox'>
      <input
        type='checkbox'
        name='flags.a5e-for-dnd5e.secondarySchools.{{@key}}'
        {{checked selected}}
      />
      {{label}}
    </label>
  {{/each}}
</div>