<div class='counter flexrow exhaustion'>
  <h4>{{localize 'a5e-for-dnd5e.Stress'}}</h4>
  <div class='counter-value'>
    <input
      type='text'
      name='flags.a5e-for-dnd5e.stress'
      value='{{stress}}'
      placeholder='0'
      data-dtype='Number'
    />
  </div>
</div>