<div class='items-section card'>
  <div class='items-header header'>
    <h3>{{localize "a5e-for-dnd5e.Maneuver.EP"}}</h3>
    <div class='exertion-points'>
      <input
        class='ep-input'
        type='text'
        name='flags.a5e-for-dnd5e.ep.value'
        value='{{ep}}'
        placeholder='0'
        data-dtype='Number'
      />
      <span class='sep'> / </span>
      <span>{{epMax}}</span>
    </div>
  </div>
</div>