.dnd5e2.sheet.character {
  .pill-lg {
    &.a5e-for-dnd5e\.culture,
    &.a5e-for-dnd5e\.destiny {
      cursor: pointer;
      &:hover:not(:has(a:hover)) {
        box-shadow: 0 0 12px var(--dnd5e-color-gold);
      }
    }
  }
  &.sheet.actor.character .sheet-body .sidebar .card .stats .top {
    margin-bottom: 5px;
  }
  div.top .pips {
    &.fatigue,
    &.stress {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    &.fatigue {
      .pip.filled {
        background-color: brown;
      }
    }
    &.stress {
      flex-direction: row-reverse;
      .pip.filled {
        background-color: blueviolet;
      }
    }
  }
  .prestige {
    ol {
      list-style: none;
      margin: 0;
      padding: 0;
      input {
        &[type='text'] {
          flex: 1;
          margin-right: 2px;
        }
        &[type='number'] {
          flex: 0 0 30px;
        }
      }
      a.prestige {
        &[data-action='delete'] {
          flex: 0 0 20px;
          line-height: 26px;
          font-size: 16px;
          text-align: center;
        }
      }
    }
    // a.prestige-roll {
    //   margin-left: inherit;
    //   font-size: inherit;
    //   color: inherit;
    // }
  }
}
