<li class="items-header spellbook-header flexrow">
  <div class="item-name flexrow">
    <h3>{{localize "a5e-for-dnd5e.Maneuver.EP"}}</h3>
  </div>
  <div class="exertion-points">
    <input
      class="ep-input"
      type="text"
      name="flags.a5e-for-dnd5e.ep.value"
      value="{{ep}}"
      placeholder="0"
      data-dtype="Number"
    />
    <span class="sep"> / </span>
    <span>{{epMax}}</span>
  </div>
</li>