<div class='form-group'>
  <label>{{localize 'a5e-for-dnd5e.ExpertiseDie.label'}}</label>
  <select name='flags.a5e-for-dnd5e.ed.{{key}}'>
    {{selectOptions config selected=dice}}
  </select>
</div>