<label>{{localize 'DND5E.Prestige'}}</label>
<div class='prestige'>
  <input
    type='number'
    value='{{prestige}}'
    name='flags.a5e-for-dnd5e.prestige'
  />
  <input
    type='text'
    value='{{prestigeCenter}}'
    name='flags.a5e-for-dnd5e.prestigeCenter'
  />
</div>